<div class="container">
    <h1> Add Task Form</h1>

    
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div [formGroup]="form">
      <div class="form-group">
        <label>Name</label>
        <input type="text" required  class="form-control" name="taskName" formControlName="taskName">
  <!--      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small> -->
      </div>
    </div>
    <div [formGroup]="form">
      <div class="form-group">
        <label>Label</label>
        <input type="text" required  class="form-control" name="labelName" formControlName="labelName">
      </div>
    </div>
    <div [formGroup]="form">
      <div class="form-group">
        <label for="Select Status">Status</label>
         <select class="custom-select"  name="status" formControlName="status" required> 
            <option value="default">Select Status</option>
            <option *ngFor="let st of statusArray"> {{st}}</option>
         </select>
      </div>
    </div>
    
    <div [formGroup]="form">
      <div class="form-group">
        <label>Due Date</label>
        <input type="date" class="form-control" name="dueDate" formControlName="dueDate">
      </div>
      </div>
      <button type="button"[disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>    

<!--<app-mainpage [taskData]="this.userModel"></app-mainpage> 
-->

